<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBuySpot</title>
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header attr="123456" id="g">
        <nav>
            <div class="logo">
                <h1>Shopicoo</h1>
            </div>
            <ul>
                <a href="../static/cart.html">
                <li>
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png" alt="shopping-cart--v1"/>
                </li>
                </a>
                <li>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/help.png" alt="help"/ title="Did YOU STILL WANT THIS FEATURE IN 2024">
                </li>
            </ul>
        </nav>
    </header>
    <!-- Categories -->
     <div class="categorySection"></div>
     <!-- Main -->
     <main>  
     </main>
     <!-- Ads -->
     <div class="adSection"></div>

     <script src="../static/js/modules/CardSnippet.js"></script>
     <script src="../static/js/modules/FetchImage.js"></script>
     <script src="../static/js/modules/RequestProducts.js"></script>
     <script src="../static/js/script.js"></script>
</body>
</html>