<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBuySpot</title>
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Shopicoo</h1>
            </div>
            <ul>
                <a href="../static/cart.html">
                <li>
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png" alt="shopping-cart--v1"/>
                </li>
                </a>
                <li>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/help.png" alt="help"/ title="Did YOU STILL WANT THIS FEATURE IN 2024">
                </li>
            </ul>
        </nav>
    </header>
    <!-- Categories -->
     <div class="categorySection">
        <div class="GenderSelection SelctionCard">
            <h3>Gender</h3>
            <div class="Male">
                <input type="radio" name="gender" id="maleoption" value="male">
                <label for="maleoption">Male</label>
            </div>
            <div class="Female">
                <input type="radio" name="gender" id="femaleoption" value="female">
                <label for="femaleoption">Female</label>
            </div>
        </div>

        <div class="CategorySelection SelctionCard">
            <h3>Categories</h3>
            <div>
                <input type="radio" name="category"  id="Electronics" value="Electronics">
                <label for="Electronics">Electronics</label>
            </div>
            <div>
                <input type="radio" name="category" id="Furniture" value="Furniture">
                <label for="Furniture">Furniture</label>
            </div>
            <div>
                <input type="radio" name="category" id="Fashion" value="Fashion">
                <label for="Fashion">Fashion</label>
            </div>
            <div>
                <input type="radio" name="category" id="Health" value="Health">
                <label for="Health">Health</label>
            </div>
            <div>
                <input type="radio" name="category" id="Beauty" value="Beauty">
                <label for="Beauty">Beauty</label>
            </div>
            <div>
                <input type="radio" name="category" id="Sports" value="Sports">
                <label for="Sports">Sports</label>
            </div>
            <div>
                <input type="radio" name="category" id="Books" value="Books">
                <label for="Books">Books</label>
            </div>
            <div>
                <input type="radio" name="category" id="Gadgets" value="Gadgets">
                <label for="Gadgets">Gadgets</label>
            </div>
        </div>
     </div>
     <!-- Main -->
     <main>  
     </main>
     <!-- Ads -->
     <div class="adSection">
        Your ads Here
     </div>

     <script src="../static/js/modules/CardSnippet.js"></script>
     <script src="../static/js/modules/FetchImage.js"></script>
     <script src="../static/js/modules/RequestProducts.js"></script>
     <script src="../static/js/modules/Categories.js"></script>
     <script src="../static/js/script.js"></script>
</body>
</html>